.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #61a2b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.round-button {
  border-radius: 50%;
  background-color: rgb(224, 224, 182);
  color: black;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
}

.round-button:hover {
  background-color: #ecb771;
}

.add-operations {
  text-align: left;
}

.inputError {
  background-color: salmon;
  border-color: salmon;
}

.inputOk {
  background-color: white;
  border-color: white;
}

.header {
  background-color: #617cd6;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.header {
  background-color: #617cd6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.header h2 {
  margin: 0;
}

.header button {
  background-color: #fff;
  color: #617cd6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-link {
  display: inline-block;
  background-color: #617cd6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

/* button {
  background-color: navy;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: #0a4a6e;
} */
